
<?xml version="1.0"?>

<model>
  <name>Kobuki Dock</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Emerson Knapp</name>
    <email>me@emersonknapp.com</email>
  </author>

  <description>
    Charging dock for the Kobuki Turtlebot 2
  </description>
</model>

